-- Make this file your own ...
return {
-- Table: {1}
{
	["dbms"]="mySQL",
	["dbname"]="dbname",
	["dbuser"]="dbuser",
	["dbpassword"]="dbpass",
	["dbhostname"]="dbhost",
	["dbport"]="3306",
	["useDB"]="1",   	
	["mail"] = "0",
	["mailserv"] = "XXX",
	["mailport"] = "25",
	["mailfrom"] = "<XXX>",
	["recordbots"] = "0",
	["color"] = "^3",
	["commandprefix"] = "!",
	["debug"] = "0",
	["debugquerries"] = "0", 
	["persgamestartmessage"] = "Welcome to the server",
	["persgamestartmessagelocation"] = "cpm",
	["xprestore"] = "1",
	["pussyfactor"] = "1",
	["usecommands"] = "0",
	["polldistance"] = "120",  
	["maxSelfKills"] = "3", 
	["evenerCheckallSec"] = "40",
	["nextmapVoteSec"] = "0",
	["lognames"]="1",
	["irchost"]="",
	["ircport"]="1337",
	["teamdamageMessage1"] = "You do love your mates!",
	["teamdamageMessage2"] = "you hit your mates from time to time!",
	["teamdamageMessage3"] = "you don't care about teambleeding very much!",
	["teamdamageMessage4"] = "your nickname is a synonym of collateral damage!",
	["teamdamageMessage5"] = "you don't care about teams - everybody is your enemy!",
	["teamdamageMessage6"] = "you are a counteragent killing more of your own team. Get paid by enemy?",
	["deleteSessionsOlderXMonths"] = "0",
},
}

